body{
    padding: 0;
    margin: 0;
    background-color: rgb(29, 26, 26);
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid rgb(66, 64, 64);
}

.main-heading > span{
    margin: 5px 10px;
    font-size: 2rem;
}

nav > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav > ul > li {
    margin: 0 1rem;
}

.iphone-photo{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.iphone-heading{
    position: absolute;
    font-size: 5rem;
}

.category-section{
    width: 100%;
    background-color: rgb(66, 64, 64);
    padding: 1rem;
    box-sizing: border-box;
}

.category-grid{
    margin: 0 10vw;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

.grid-box{
    background-color: rgb(117, 117, 117);
    padding: 10px;
    border-radius: 10px;
}

.item-1 > img{
    height: 33.3%;
}

.item-2{
    grid-column: span 2 / -1;
    grid-row: span 3;
    display: flex;
    align-items: center;
    justify-content: center;
}



